name: Frends.Oracle.ExecuteProcedure Test

on:
  push:
    branches-ignore:    
      - main
    paths:
      - 'Frends.Oracle.ExecuteProcedure/**'
  workflow_dispatch:
  

jobs:
  build:
    uses: FrendsPlatform/FrendsTasks/.github/workflows/linux_build_test.yml@main
    with:
      workdir: Frends.Oracle.ExecuteProcedure
      prebuild_command: ./_build/deploy_oracle_docker_container.sh
    secrets:
      badge_service_api_key: ${{ secrets.BADGE_SERVICE_API_KEY }}
      test_feed_api_key: ${{ secrets.TASKS_TEST_FEED_API_KEY }}